<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顶辰 - 图书订单管理</title>

    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <%- include ('./partials/sidebar')%>

                <%- include ('./partials/topbar')%>
        </div>
    </div>

    <main class="lingke-layout-content">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-lg-12">
                            <h3 style="float: left;">图书订单信息</h3>
                            <button class="btn btn-primary btn-lg" style="float: right;" data-toggle="modal" data-target="#myModal">新建</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive col-md-12 col-lg-12 mx-auto text-center">
                <table class="table table-hover">
                    <tr>
                        <th style="text-align:center">订单ID</th>
                        <th style="text-align:center">订单编号</th>
                        <th style="text-align:center">书名</th>
                        <th style="text-align:center">数量</th>
                        <th style="text-align:center">操作</th>
                    </tr>
                    <% for(var i = 0; i < books.length; i ++){%>
                        <tr>
                            <td>
                                <%-i + 1%>
                            </td>
                            <td>
                                <%-books[i].OrderId%>
                            </td>
                            <td>
                                <%-books[i].OrderNo%>
                            </td>
                            <td>
                                <%-books[i].Name%>
                            </td>
                            <td>
                                <%-books[i].Quantity%>
                            </td>
                            <td><button class="btn btn-info">查看</button ><button class="btn btn-danger">删除</button ><button class="btn btn-warning">编辑</button></td>
                        </tr>
                        <%} %>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">
                            新建图书订单
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form action="/providers" method="POST">
                            <div class="form-group">
                                <label for="orderId" class="col-form-label" style="font-weight: bolder;">订单ID:</label>
                                <input type="text" name="orderId" id="orderId" class="form-control" placeholder="订单ID" required>
                            </div>
                            <div class="form-group">
                                <label for="orderNo" class="col-form-label" style="font-weight: bolder;">订单编号:</label>
                                <input type="text" name="orderNo" id="orderNo" class="form-control" placeholder="订单编号" required>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-form-label" style="font-weight: bolder;">订单货品:</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="订单货品" required>
                            </div>
                            <div class="form-group">
                                <label for="quantity" class="col-form-label" style="font-weight: bolder;">数量:</label>
                                <div class="input-group spinner">
                                    <input type="text" name="quantity" class="form-control" value="1" required>
                                    <!-- <div class="input-group-btn-vertical"> -->
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i>+</button>
                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i>-</button>
                                    </span>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="paytime" " class="col-form-label " style="font-weight: bolder; ">支付日期:</label>
                                <input type="date " name="paytime " id="paytime " class="form-control ">
                            </div>
                            <div class="form-group ">
                                <label for="receiver " class="col-form-label " style="font-weight: bolder; ">收货人:</label>
                                <input type="text " name="receiver " id="receiver " class="form-control " placeholder="收货人 " required>
                            </div>
                            <div class="form-group ">
                                <label for="address " class="col-form-label " style="font-weight: bolder; ">收货人地址:</label>
                                <input type="text " name="address " id="address " class="form-control " placeholder="收货人地址 " required>
                            </div>
                            <div class="form-group ">
                                <label for="phone " class="col-form-label " style="font-weight: bolder; ">收货人电话:</label>
                                <input type="text " name="phone " id="phone " class="form-control " placeholder="收货人电话 ">
                            </div>
                            <div class="form-group ">
                                <label for="price " class="col-form-label " style="font-weight: bolder; ">订单金额:</label>
                                <input type="text " name="price " id="price " class="form-control " placeholder="订单金额 " required>
                            </div>
                            <div class="form-group ">
                                <label for="status " class="col-form-label " style="font-weight: bolder; ">状态:</label>
                                <input type="text " name="status " id="status " class="form-control " placeholder="状态 " required>
                            </div>
                            <div class="form-group ">
                                <label for="trackingNo " class="col-form-label " style="font-weight: bolder; ">快递单号:</label>
                                <input type="text " name="trackingNo " id="trackingNo " class="form-control " placeholder="快递单号 " >
                            </div>
                            <div class="modal-footer ">
                                <button type="button " class="btn btn-secondary " data-dismiss="modal ">关闭</button>
                                <input type="submit " value="创建 " class="btn btn-primary " name="create ">
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

    </main>

    <script src="js/main.min.js "></script>
    <script src="js/perfect-scrollbar.min.js "></script>
    <script>
        (function($) {
            $('.spinner .btn:first-of-type').on('click', function() {
                if (parseInt($('.spinner input').val(), 10) < 9999) {
                    $('.spinner input').val(parseInt($('.spinner input').val(), 10) + 1);
                }
            });
            $('.spinner .btn:last-of-type').on('click', function() {
                if (parseInt($('.spinner input').val(), 10) > 0) {
                    $('.spinner input').val(parseInt($('.spinner input').val(), 10) - 1);
                }
            });
        })(jQuery);
    </script>
</body>

</html>