<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顶辰 - 图书管理</title>

    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <%- include ('./partials/sidebar')%>

                <%- include ('./partials/topbar')%>
        </div>
    </div>

    <main class="lingke-layout-content">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-lg-12">
                            <h3 style="float: left;">图书信息</h3>
                            <form action="/books" method="POST" enctype='multipart/form-data' style="float: right">
                                <input type="file" accept=".xls, .xlsx" name="uploadBooks">
                                <button type="submit">上传Excel</button>
                                <!-- <button class="btn btn-primary btn-lg" style="float: right;">批量导入</button> -->
                            </form>
                            <button class="btn btn-primary btn-lg" style="float: right" data-toggle="modal" data-target="#myModal">新建</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive col-md-12 col-lg-12 mx-auto text-center">
                <table class="table table-hover">
                    <tr>
                        <th style="text-align:center">编号</th>
                        <th style="text-align:center">书名</th>
                        <th style="text-align:center">公司</th>
                        <th style="text-align:center">菁韵价</th>
                        <th style="text-align:center">书卡价</th>
                        <th style="text-align:center">码洋</th>
                        <th style="text-align:center">销售价</th>
                    </tr>
                    <% for(var i = 0; i < books.length; i ++){%>
                        <tr>
                            <td>
                                <%-i + 1%>
                            </td>
                            <td>
                                <%-books[i].书名%>
                            </td>
                            <td>
                                <%-books[i].公司%>
                            </td>
                            <td>
                                <%-books[i].菁韵价%>
                            </td>
                            <td>
                                <%-books[i].书卡价%>
                            </td>
                            <td>
                                <%-books[i].码洋%>
                            </td>
                            <td>
                                <%-books[i].销售价%>
                            </td>
                        </tr>
                        <%} %>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">
                            新建图书
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form action="/books" method="POST">
                            <div class="form-group">
                                <label for="name" class="col-form-label" style="font-weight: bolder;">书名:</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="书名" required>
                            </div>
                            <div class="form-group">
                                <label for="company" class="col-form-label" style="font-weight: bolder;">公司:</label>
                                <label class="radio-inline">
                                    <input type="radio" name="company" checked="true" value="灵科">灵科
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="company" value="顶辰">顶辰
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="jPrice" class="col-form-label" style="font-weight: bolder;">菁韵价格:</label>
                                <input type="number" name="jPrice" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="cPrice" class="col-form-label" style="font-weight: bolder;">书卡价格:</label>
                                <input type="number" name="cPrice" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="fPrice" class="col-form-label" style="font-weight: bolder;">码洋:</label>
                                <input type="number" name="fPrice" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="sPrice" class="col-form-label" style="font-weight: bolder;">销售价:</label>
                                <input type="number" name="sPrice" class="form-control" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <input type="submit" value="创建" class="btn btn-primary" name="createBook">
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>


    </main>

    <script src="js/main.min.js "></script>
    <script src="js/perfect-scrollbar.min.js "></script>
    <!-- <script>
        (function($) {
            $('.spinner .btn:first-of-type').on('click', function() {
                if (parseInt($('.spinner input').val(), 10) < 9999) {
                    $('.spinner input').val(parseInt($('.spinner input').val(), 10) + 1);
                }
            });
            $('.spinner .btn:last-of-type').on('click', function() {
                if (parseInt($('.spinner input').val(), 10) > 0) {
                    $('.spinner input').val(parseInt($('.spinner input').val(), 10) - 1);
                }
            });
        })(jQuery);
    </script> -->
</body>

</html>